html {
    scroll-behavior: smooth;
}

body {
    background: rgb(30, 30, 30);
}

nav {
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 rgb(0, 0, 0);
}

header * {
    display: inline;
}

header li {
    color: white;
    margin: 20px;
    font-size: larger;
}

header li a:hover {
    color: purple;
}

header li a {
    color: white;
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 7rem;
    margin-top: 0;
    margin-bottom: 0;
}

.astro {
    color: purple;
}

h2 {
    font-size: 2rem;
    color: white;
}

.gradient-text {
    background: linear-gradient(to right, rgb(255, 130, 35), rgb(147, 63, 4));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fade-in {
    animation: fade 3s ease-in;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: aliceblue;
}

.about-background {
    display: flex;
    justify-content: center;
    max-width: 75%;
    height: 500px;
    border: 3px solid;
    border-color: purple;
    background-color: #1e293b;
    gap: 2rem;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

.about-container .tilted-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-7deg);
    margin-left: 50px;
}

.about-container img {
    height: 225px;
    width: 335px;
    border: 3px solid;
    border-color: rgb(201, 97, 20);;
}

.about-container p {
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    font-size: larger;
    line-height: 2rem;
}

.publications-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: aliceblue;
}

.portfolios-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: aliceblue;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: aliceblue;
}

.misc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: aliceblue;
}
